################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64
/Xenon/x64
/Xenon/x64/Debug/Xenon.log
/Xenon/x64/Debug/Xenon.exe.recipe
