################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/x64
/Xenon/x64
/Xenon/x64/Debug/Xenon.log
/Xenon/x64/Debug/Xenon.exe.recipe
/Xenon/Debug
/Xenon/x64/Debug/Xenon.Build.CppClean.log
/enc_temp_folder/619a1d34cec9f4ba9f9d74313f867f/PPC_MMU.cpp
/enc_temp_folder/64f566682068ff61e483a023a729d37b/SFCX.cpp
